@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.card{
    background: #ffffff21;
    color: #fff;
    border-radius: 20px;
    padding: 16px;
}
.text-cemter{
    text-align: center;
}

.avatar{
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.card h1{
    font-size: 18px;
}
.card p{
    font-size: 16px;
}

.nt-16{
    margin-top: 16px;
}
.card .btn-action{
    padding: 6px 12px;
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: flex;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 14px;
    align-items: center;
}
.dol{
    font-size: 18px;
    margin-right: 10px;
}